---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import Logo from "../assets/logo.png";
---

<header class="h-20 bg-rose-950 flex items-center px-4 shadow-xl">
  <a href="/">
    <h1 class="text-3xl text-white font-bold">
      <Image
        src={Logo}
        alt={SITE_TITLE}
        height={30}
      />
    </h1>
  </a>
</header>
